<html>
<head>
  <meta charset='utf-8'>
  <title>Image Justifier</title>
</head>
<body>
  <h1>Here are some fake images</h1>
  <% collection.rows.each do |row| %>
  <%   row.pictures.each do |pic| %>
  <img src="<%= pic.src %>"
  <%   end %>
  <% end %>
</body>
</html>
