<html>
<head>
  <meta charset='utf-8'>
  <title>Image Justifier</title>
</head>
<body>
  <h2>Here are some fake images</h2><br>
  <% collection.rows.each do |row| %>
  <%   row.pictures.each do |pic| %>
  <img src="<%= pic.src %>">
  <%   end %><br>
  <% end %>
</body>
</html>
